.input-group {
    text-align: left;
    padding: 0 0 15px 0;
}

.input-title {
    display: block;
    padding: 0 0 5px 0;
}

.input-text {
    height: 20px;
    font-size: 14px;
    padding: 0 5px;
    width: 100%;
}